__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.ipynb_checkpoints/

.DS_Store

data/raw/
data/processed/
data/context/
data/splits/

outputs/models/
outputs/results/
outputs/plots/
outputs/explanations/

*.pkl

*.log
